@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100000% 0%; }
}

body {
  text-align: center;
  background-color: #33CCFF;
}

h1  {
 background-color: #FFFFFF ;
 color: #000000 ;
 text-align: center;
}

font{
    
    text-align: center;
}

p {
   font-family: "Termostat";
   font-size: 15px;
}

#animate-area { 
  width: 560px; 
  height: 1000px; 
  background-image: url(sky_texture.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;

  animation: animatedBackground 4000s linear infinite;
}

#temperature{
  text-align: center;
   width: 500px;
   margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 10px;
}
#city{
  margin-top :10px;
  margin-left:225px;
  margin-bottom: 20px;
  text-align: center;
}
#outside_temp{
  margin-left:200px;
}
#weather{
  margin-left:200px;
}

#forecast{
  margin-left:200px;
}

div {
    text-align: center;
    font-size: 30px

}
#up{
  margin-left:225px;
}

button {

  border-top: 1px solid #ffffff ;
  background: #4a4a4a ;
  background: -webkit-gradient(linear, left top, left bottom, from(#636363 ), to(#4a4a4a ));
  background: -webkit-linear-gradient(top, #636363 , #4a4a4a );
  background: -moz-linear-gradient(top, #636363 , #4a4a4a );
  background: -ms-linear-gradient(top, #636363 , #4a4a4a );
  background: -o-linear-gradient(top, #636363 , #4a4a4a );
  padding: 7px 14px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  }

  #powersaver{
    margin-left: 250px;
  }